@import "../../../src/variables.scss";

@mixin grid-center-last( $columns ) {
  $total_columns: $columns * 2;
  $span: $total_columns / $columns;
  $offset: $columns - 1;
  $nth-child: if( $columns % 2 == 0, 'odd', 'even' );

  display: grid;
  grid-template-columns: repeat( $total_columns, 1fr );

  & > * {
    grid-column: span $span;

    &:nth-last-child(#{$offset}):nth-child(#{$nth-child}) {
      grid-column: $span / span $span;
    }
  }
}

section .container , .main-nav .navbar-collapse{
  max-width: 1280px;
  margin: 0 auto;
  padding: 3.5rem 0;
}

.main-heading {
  text-align: center;
}

header {
  .main-nav {
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.16);
    margin: 0 auto;
    background-color: #f6f6f8;

    .navbar-collapse {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding: 0;
    }

    .main-nav__nav-items {
      display: flex;
      list-style: none;
    }

    a {
      text-decoration: none;
      padding: 1.5rem;
      border-radius: 5px;
      display: block;
      color: map_get($theme-colors, "primary");

      &.active {
        background-color: #232940;
        color: #FFFFFF;
      }
    }

    ul {
      margin: 0;
    }
  }
}

#Home .container {
  display: grid;
  grid-template: 'home-content image';
  align-items: center;
  padding-top: 7rem;

  .home_content {
    grid-area: home-content;

    h1, h3 {
      margin: 0;
    }

    a {
      margin-top: 1rem;
      margin-right: 1rem;
      padding: 0.5rem;
    }

    .download-resume-button {
      background-color: map_get($theme-colors, "primary");
      color: map_get($theme-colors, "text-light-color");

      &:hover {
        color: map_get($theme-colors, "primary");
        background-color: map_get($theme-colors, "text-light-color");
        border: 1px solid map_get($theme-colors, "primary");
      }
    }

    .contact-me-button {
      &:hover {
        color: #FFFFFF;
      }
    }
  }

  .image {
    grid-area: image;
    width: 22vw;
  }
}

#Highlight .container {
  display: grid;
  align-items: center;
  justify-items: center;
  padding: 0;
  border-radius: 80px;
  background-color: #FFFFFF;
  box-shadow: 8px 16px 32px 0 rgba(0, 0, 0, 0.16);
  grid-template: '. . . . .';
  grid-template-columns: 4fr 1fr 4fr 1fr 4fr;

  h1 {
    margin: 0;
  }

  .job-experience, .intern-experience {
    display: flex;

    .content {
      margin-left: 1rem;
    }
  }
}


#Achievements {
  position: relative;
  //background-color: rgba(54, 180, 194, 0.08);
}

#Achievements::after {
  content: "";
  background-image: url("src/assets/images/backgrounds/background-3.jpg");
  background-size: 100% 100%;
  opacity: 0.1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

#Achievements .container {
  //margin-top: 7rem;

  h1 {
    text-align: center;
  }

  .achievement-cards {
    display: grid;
    flex-wrap: wrap;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3rem;
    @include grid-center-last(3);

    .achievement-card {
      width: 100%;
      margin: 1rem;
      padding: 2rem;
      border-radius: 0 50px 50px 50px;
      box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.16);
      background-color: #ffffff;
    }
  }
}

#TechnicalSkills .container {
  //margin-top: 7rem;

  h1 {
    text-align: center;
  }

  .skills {
    display: grid;
    grid-template: 'language-1 professional-1'
                   'language-2 professional-2'
                   'language-3 professional-3'
                   'language-4 professional-4'
                   'language-5 professional-5';

    grid-gap: 2rem 5rem;
    grid-template-columns: 1fr 1fr;

    .language-1 {
      grid-area: language-1;
    }

    .language-2 {
      grid-area: language-2;
    }
    .language-3 {
      grid-area: language-3;
    }
    .language-4 {
      grid-area: language-4;
    }
    .language-5 {
      grid-area: language-5;
    }

    .professional-1 {
      grid-area: professional-1;
    }
    .professional-2 {
      grid-area: professional-2;
    }
    .professional-3 {
      grid-area: professional-3;
    }
    .professional-4 {
      grid-area: professional-4;
    }
    .professional-5 {
      grid-area: professional-5;
    }

    .skill {
      display: grid;
      grid-template: 'skill-name percentage'
                      'progress progress';

      p {
        margin-bottom: 5px;
      }

      .skill-name {
        grid-area: skill-name;
      }

      .percentage {
        grid-area: percentage;
        justify-self: end;
      }

      .progress {
        grid-area: progress;
      }
    }
  }
}


#ProjectsWorkedOn {
  position: relative;
  //background-color: rgba(54, 180, 194, 0.08);
}

#ProjectsWorkedOn::after {
  content: "";
  background-image: url("src/assets/images/backgrounds/background1.png");
  background-size: 100% 100%;
  opacity: 0.05;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

#ProjectsWorkedOn .container {
  //margin-top: 7rem;

  h1 {
    text-align: center;
  }

  .projects-worked-on-grid {
    display: grid;
    grid-template: 'image project-content';
    grid-gap: 3rem;

    .project-image {
      grid-area: image;
    }

    .project-content {
      grid-area: project-content;
      display: grid;
      grid-template: '. .';
      grid-gap: 0 3rem;

      ol {
        padding: 0 1rem;
      }
    }
  }
}

#PerformanceFeedback {
  position: relative;
  //background-color: rgba(54, 180, 194, 0.08);
}

#PerformanceFeedback::after {
  content: "";
  background-image: url("src/assets/images/backgrounds/background-3.jpg");
  background-size: 100% 100%;
  opacity: 0.1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

#PerformanceFeedback .container {
  //margin-top: 7rem;

  h1 {
    text-align: center;
  }

  .feedback-cards{
    display: grid;
    grid-template: '. .';
    grid-template-columns: 1fr 1fr;
    grid-gap: 5rem;

    .feedback-card {
      padding: 2rem;
      border-radius: 0 50px 50px 50px;
      box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.16);
      background-color: #ffffff;
    }
  }
}

#Qualification {
  position: relative;
  //background-color: rgba(54, 180, 194, 0.08);
}

#Qualification::after {
  content: "";
  background-image: url("src/assets/images/backgrounds/background1.png");
  background-size: 100% 100%;
  opacity: 0.05;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

#Qualification .container {
  h1 {
    text-align: center;
  }

  .qualification-grid {
    display: grid;
    grid-template: 'education-grid experience-grid';
    grid-template-columns: 1fr 1fr;

    .education-grid {
      grid-area: education-grid;
    }

    .experience-grid {
      grid-area: experience-grid;
      justify-self: end;
    }
  }
}

#ContactInfo .container {
  //margin-top: 7rem;
  margin-bottom: 3rem;

  h1 {
    text-align: center;
  }

  .contact-info-grid {
    display: grid;
    grid-template: '. . .';
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3rem;

    .contact-info-item {
      text-align: center;
      padding: 2rem;
      border-radius: 0 50px 50px 50px;
      box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.16);
      background-color: #ffffff;

      i {
        //font-size: 76px;
        margin: 1rem;
      }

      p{
        margin: 0;
      }
    }
  }
}

#Footer .container {
  padding: 1rem 0;
}
