@import "../../../src/variables.scss";

section {
  max-width: 1280px;
  margin: 0 auto;
}

header {
  position: fixed;
  top: 0;
  width: 100vw;
  background-color: map_get($theme-colors, "text-light-color");
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.16);

  .main-nav {
    width: 1280px;
    margin: 0 auto;
    padding-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .main-nav__nav-items {
      display: flex;
      list-style: none;
    }

    a {
      text-decoration: none;
      padding: 0.5rem;
      margin: 0.2rem;
      border-radius: 0.5rem;
      display: inline-block;
      color: map_get($theme-colors, "primary");
    }
  }
}

.home {
  display: grid;
  grid-template: 'home-content image';
  align-items: center;
  margin-top: 7rem;

  .home_content {
    grid-area: home-content;

    h1, h3 {
      margin: 0;
    }

    a {
      margin-top: 1rem;
      margin-right: 1rem;
      padding: 0.5rem;
    }

    .download-resume-button {
      background-color: map_get($theme-colors, "primary");
      color: map_get($theme-colors, "text-light-color");

      &:hover {
        color: map_get($theme-colors, "primary");
        background-color: map_get($theme-colors, "text-light-color");
        border: 1px solid map_get($theme-colors, "primary");
      }
    }

    .contact-me-button {
      &:hover {
        color: #FFFFFF;
      }
    }
  }

  .image {
    grid-area: image;
    width: 22vw;
  }
}

.highlight_content {
  display: grid;
  align-items: center;
  justify-items: center;
  margin-top: 7rem;
  border-radius: 80px;
  background-color: #FFFFFF;
  box-shadow: 8px 16px 32px 0 rgba(0, 0, 0, 0.16);
  grid-template: '. . . . .';
  grid-template-columns: 4fr 1fr 4fr 1fr 4fr;

  h1 {
    margin: 0;
  }

  .job-experience, .intern-experience {
    display: flex;

    .content {
      margin-left: 1rem;
    }
  }
}

.achievements {
  margin-top: 7rem;

  h1 {
    text-align: center;
  }

  .achievement-cards {
    display: grid;
    flex-wrap: wrap;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3rem;

    .achievement-card {
      width: 100%;
      margin: 1rem;
      padding: 2rem;
      border-radius: 0 50px 50px 50px;
      box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.16);
      background-color: #ffffff;
    }
  }
}

.technical-skills {
  margin-top: 7rem;

  h1 {
    text-align: center;
  }

  .skills {
    display: grid;
    grid-template: 'language-1 professional-1'
                   'language-2 professional-2'
                   'language-3 professional-3'
                   'language-4 professional-4'
                   'language-5 professional-5';

    grid-gap: 2rem 5rem;
    grid-template-columns: 1fr 1fr;

    .language-1 {
      grid-area: language-1;
    }

    .language-2 {
      grid-area: language-2;
    }
    .language-3 {
      grid-area: language-3;
    }
    .language-4 {
      grid-area: language-4;
    }
    .language-5 {
      grid-area: language-5;
    }

    .professional-1 {
      grid-area: professional-1;
    }
    .professional-2 {
      grid-area: professional-2;
    }
    .professional-3 {
      grid-area: professional-3;
    }
    .professional-4 {
      grid-area: professional-4;
    }
    .professional-5 {
      grid-area: professional-5;
    }

    .skill {
      display: grid;
      grid-template: 'skill-name percentage'
                      'progress progress';

      p {
        margin-bottom: 5px;
      }

      .skill-name {
        grid-area: skill-name;
      }

      .percentage {
        grid-area: percentage;
        justify-self: end;
      }

      .progress {
        grid-area: progress;
      }
    }
  }
}

.projects-worked-on {
  margin-top: 7rem;

  h1 {
    text-align: center;
  }

  .projects-worked-on-grid {
    display: grid;
    grid-template: 'image project-content';
    grid-gap: 3rem;

    .project-image {
      grid-area: image;
    }

    .project-content {
      grid-area: project-content;
      display: grid;
      grid-template: '. .';
      grid-gap: 0 3rem;

      ol {
        padding: 0 1rem;
      }
    }
  }
}

.performance-feedback {
  margin-top: 7rem;

  h1 {
    text-align: center;
  }

  .feedback-cards{
    display: grid;
    grid-template: '. .';
    grid-template-columns: 1fr 1fr;
    grid-gap: 5rem;

    .feedback-card {
      padding: 2rem;
      border-radius: 0 50px 50px 50px;
      box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.16);
      background-color: #ffffff;
    }
  }
}

.qualification {
  margin-top: 7rem;

  h1 {
    text-align: center;
  }

  .qualification-grid {
    display: grid;
    grid-template: 'education-grid experience-grid';
    grid-template-columns: 1fr 1fr;

    .education-grid {
      grid-area: education-grid;
    }

    .experience-grid {
      grid-area: experience-grid;
      justify-self: end;
    }
  }
}

.contact-info {
  margin-top: 7rem;
  margin-bottom: 3rem;

  h1 {
    text-align: center;
  }

  .contact-info-grid {
    display: grid;
    grid-template: '. . .';
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3rem;

    .contact-info-item {
      text-align: center;
      padding: 2rem;
      border-radius: 0 50px 50px 50px;
      box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.16);
      background-color: #ffffff;

      i {
        font-size: 76px;
        margin: 1rem;
      }

      p{
        margin: 0;
      }
    }
  }
}
