<header>
  <nav class="navbar navbar-expand-md navbar-light fixed-top main-nav" id="NavBar">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent" #collapse>
      <ul class="navbar-nav main-nav__nav-items">
        <li class="nav-item"><a class="nav-link" (click)="collapse.classList.remove('show')" href="#Home">Home</a></li>
        <li class="nav-item"><a class="nav-link" (click)="collapse.classList.remove('show')" href="#Achievements">Achievements</a></li>
        <li class="nav-item"><a class="nav-link" (click)="collapse.classList.remove('show')" href="#TechnicalSkills">Technical Skills</a></li>
        <li class="nav-item"><a class="nav-link" (click)="collapse.classList.remove('show')" href="#ProjectsWorkedOn">Projects Worked On</a></li>
<!--        <li class="nav-item"><a class="nav-link" href="#PerformanceFeedback">Performance Feedback</a></li>-->
        <li class="nav-item"><a class="nav-link" (click)="collapse.classList.remove('show')" href="#Qualification">Qualification</a></li>
        <li class="nav-item"><a class="nav-link" (click)="collapse.classList.remove('show')" href="#ContactInfo">Contact Info</a></li>
      </ul>
    </div>
  </nav>
</header>

<section id="Home">
  <div class="container">
    <div class="home_content">
      <h1>Dheeraj Tummala</h1>
      <h3>Software Developer</h3>
      <p>Hello, I am a Full Stack Developer. I have a rich experience in website development using Angular, Java, Spring technologies. Also I am good at</p>
      <p>Java, Spring, Spring Boot, Angular, HTML, CSS, JavaScript</p>
      <a type="button" href="../../assets/Resume.pdf" target="_blank" class="btn download-resume-button">View Resume</a>
      <a type="button" href="#ContactInfo" class="btn btn-outline-dark contact-me-button">Contact Me</a>
    </div>
    <img src="../../assets/images/profile_pic.png"
         srcset="../../assets/images/profile_pic@2x.png 2x, ../../assets/images/profile_pic@3x.png 3x"
         class="image" alt="Profile Image">
  </div>
  </section>

<section id="Highlight">
  <div class="container">
    <div class="job-experience" style="grid-area: job-experience">
      <img src="../../assets/icons/job-icon.svg" alt="job-icon">
      <div class="content">
        <h3>2 Years Job</h3>
        <p>Experience</p>
      </div>
    </div>
    <h1 class="separator" style="grid-area: seperator">|</h1>
    <h3 class="and" style="grid-area: and">&</h3>
    <div style="grid-area: intern-experience" class="intern-experience">
      <img src="../../assets/icons/intern-icon.svg" alt="job-icon">
      <div class="content">
        <h3>8 Months Internship</h3>
        <p>Experience</p>
      </div>
    </div>
    <h3 style="grid-area: at">At</h3>
    <div style="grid-area: company-name" class="company-info">
      <h3>Thomson Reuters</h3>
      <p>From October 2017 - Till Date</p>
    </div>
  </div>
</section>

<section id="Achievements">
  <div class="container">
    <h2 class="main-heading">Achievements</h2>
    <div class="achievement-cards">
      <div class="achievement-card">
        <img src="../../assets/icons/award-icon.svg" alt="Award Icon">
        <h3>Awards</h3>
        <p>Won a Hall of Fame - Hyderabad</p>
      </div>
      <div class="achievement-card">
        <img src="../../assets/icons/appreciation-icon.svg" alt="Award Icon">
        <h3>Appreciation</h3>
        <p>Received an appreciation from product manager for solving critical problems.</p>
      </div>
      <div class="achievement-card">
        <img src="../../assets/icons/management-icon.svg" alt="Award Icon">
        <h3>Management</h3>
        <p>Rewrote microservice using latest technologies and improved its performance.</p>
      </div>
      <div class="achievement-card">
        <img src="../../assets/icons/career-growth-icon.svg" alt="Award Icon">
        <h3>Career Growth</h3>
        <p>Converted to developer from tester based on performance.</p>
      </div>
      <div class="achievement-card">
        <img src="../../assets/icons/application-improvement-icon.svg" alt="Award Icon">
        <h3>Application Improvement</h3>
        <p>Reduced application build time by 17 minutes</p>
      </div>
    </div>
  </div>
</section>

<section id="TechnicalSkills">
  <div class="container">
    <h2 class="main-heading">Technical Skills</h2>
    <div class="skills">
      <div class="languages">
        <div class="skill">
          <p class="skill-name"><b>Spring</b></p>
          <p class="percentage"><b>80%</b></p>
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <div class="skill">
          <p class="skill-name"><b>Spring Boot</b></p>
          <p class="percentage"><b>60%</b></p>
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <div class="skill">
          <p class="skill-name"><b>Core Java</b></p>
          <p class="percentage"><b>90%</b></p>
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <div class="skill">
          <p class="skill-name"><b>Angular</b></p>
          <p class="percentage"><b>75%</b></p>
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <div class="skill">
          <p class="skill-name"><b>Python</b></p>
          <p class="percentage"><b>50%</b></p>
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
      <div class="professional-skills">
        <div class="skill">
          <p class="skill-name"><b>Postgres, SQL</b></p>
          <p class="percentage"><b>50%</b></p>
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <div class="skill">
          <p class="skill-name"><b>HTML, CSS, Javascript</b></p>
          <p class="percentage"><b>75%</b></p>
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <div class="skill">
          <p class="skill-name"><b>Micorservice Architecture</b></p>
          <p class="percentage"><b>70%</b></p>
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <div class="skill">
          <p class="skill-name"><b>Test Driven Development</b></p>
          <p class="percentage"><b>80%</b></p>
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <div class="skill">
          <p class="skill-name"><b>Testing (Mocha, Protractor)</b></p>
          <p class="percentage"><b>80%</b></p>
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="ProjectsWorkedOn">
  <div class="container">
    <h2 class="main-heading">Projects Worked On</h2>
    <div class="projects-worked-on-grid">
      <img src="../../assets/images/project_image.png"
           srcset="../../assets/images/project_image@2x.png 2x,
             ../../assets/images/project_image@3x.png 3x"
           class="project-image"
           alt="Project Image">
      <div class="project-content">
        <p><b>Project Name</b></p>
        <p>OneSource Statutory Reporting (OSR)</p>
        <p><b>Company</b></p>
        <p>Thomson Reuters</p>
        <p><b>Role</b></p>
        <p>Software Developer</p>
        <p><b>Team Size</b></p>
        <p>40+</p>
        <p><b>Description</b></p>
        <p>ONESOURCE Statutory Reporting is a leading global disclosure management tool serving more than 41 countries that includes local language, best practices, country-specific reporting templates, and content updates from the largest accounting firms. The software automates formatting and reviews processes.</p>
        <p><b>Responsibilities</b></p>
        <ol>
          <li>Working using Agile Methodology.</li>
          <li>Handling a microservice based on Java, Spring and Spring Boot.</li>
          <li>Working as a Fullstack Developer.</li>
          <li>Handling and creating Step Functions as well as EC2 Instances in Amazon Web Services (AWS).</li>
        </ol>
      </div>
    </div>
  </div>
</section>

<!--<section id="PerformanceFeedback">
  <div class="container">
    <h2 class="main-heading">Performance Feedback</h2>
    <div class="feedback-cards">
      <div class="feedback-card">
        <h3>Martin Westacott <small>(Senior Developer)</small></h3>
        <p>Dheeraj continues to impress this year, on a number of occasions he has said "I'm not sure if this is more complicated than I thought, perhaps I should break this down into smaller chunks?" He is gaining a much better understanding of what it takes to be a good developer and a good team member. He has proven to be as good a tester as he is developer in much of the roll forward work, often writing a test, finding a bug, then fixing the bug in very quick succession.</p>
        <p>What many people don't realize is that despite only being an associate developer, he often reviews all of the teams work, just to see what is happening and to practice code reviews. On a number of occasions he has found issues that more experienced developers have missed. I think there are days where inexperience or need to impress push him to jump to conclusions, however that has dissipated over the year, he is now more likely to pause for thought or ask questions. He is helpful, fun to work with, is productive and is a trusted member of the team. He understand the issues well and usually writes good clean code. Well done Dheeraj, keep working well!</p>
      </div>
      <div class="feedback-card">
        <h3>Soumyajit Banerjee <small>(Product Owner)</small></h3>
        <p>Dheeraj has been phenomenal in PTW. Though the efforts in making PTW stable has been a team effort but Dheeraj has been a key player. What I liked about Dheeraj is that in addition to having the requisite skill set, he takes ownership of their tasks, keep me updated and do everything that this required to ensure the completion of their tasks. I’ve been very happy with his progress and the contribution he has made. Dheeraj has learned so much at such a short time which is very impressive.</p>
        <p>It would be great if Dheeraj could expand his scope beyond data-capture as I believe he has the potential to be the go to person for all areas of OSR development.</p>
      </div>
    </div>
  </div>
</section>-->

<section id="Qualification">
  <div class="container">
    <h2 class="main-heading">Qualification</h2>
    <div class="qualification-grid">
      <div class="education-grid">
        <h2>Education</h2>
        <div class="education-qualification">
          <h3>Master of Computer Application (MCA)</h3>
          <h6>Vasavi College of Engineering</h6>
          <p>2015 - 2018</p>
        </div>
        <div class="education-qualification">
          <h3>Bachelor of Science (BSC. MCCs)</h3>
          <h6>Prathibha Degree College</h6>
          <p>2012 - 2015</p>
        </div>
        <div class="education-qualification">
          <h3>Intermediate</h3>
          <h6>Narayana Junior College</h6>
          <p>2010 - 2012</p>
        </div>
        <div class="education-qualification">
          <h3>Secondary School Certificate</h3>
          <h6>Chandhra's Concept School</h6>
          <p>2009 - 2010</p>
        </div>
      </div>
      <div class="experience-grid">
        <h2>Experience</h2>
        <div class="experience-qualification">
          <h3>Software Developer</h3>
          <h6>Thomson Reuters</h6>
          <p>Nov. 2019 - Till Date</p>
        </div>
        <div class="experience-qualification">
          <h3>Associate Software Developer</h3>
          <h6>Thomson Reuters</h6>
          <p>June 2018 - Nov. 2019</p>
        </div>
        <div class="experience-qualification">
          <h3>Internship</h3>
          <h6>Thomson Reuters</h6>
          <p>October 2017 - June 2018</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="ContactInfo">
  <div class="container">
    <h2 class="main-heading">Contact Info</h2>
    <div class="contact-info-grid">
      <img src="../../assets/images/backgrounds/contacts@2x.png" alt="contacts background" class="image">
      <div class="contact-info-items">
        <div class="contact-info-item">
          <p><i class="fas fa-phone"></i> +91 8143231354</p>
        </div>
        <div class="contact-info-item">
          <p><i class="fas fa-envelope"></i> t.dheeraj333@gmail.com</p>
        </div>
        <div class="contact-info-item">
          <p><i class="fas fa-location-arrow"></i> Plot No - 1628, Flat No - G1, Pragathi nagar, Hyderabad -500090</p>
        </div>
      </div>
      <div class="contact-social-media-items">
        <a href="#"><i class="fab fa-linkedin"></i> LinkedIn</a>
        <a href="https://github.com/dheeruasdf"><i class="fab fa-github"></i> GitHub</a>
      </div>
    </div>
  </div>
</section>

<section id="Footer">
  <div class="container">
    <p>Created by Me. (Dheeraj Tummala @2020)</p>
  </div>
</section>
