@import "../../../src/variables.scss";

@mixin grid-center-last( $columns ) {
  $total_columns: $columns * 2;
  $span: $total_columns / $columns;
  $offset: $columns - 1;
  $nth-child: if( $columns % 2 == 0, 'odd', 'even' );

  display: grid;
  grid-template-columns: repeat( $total_columns, 1fr );

  & > * {
    grid-column: span $span;

    &:nth-last-child(#{$offset}):nth-child(#{$nth-child}) {
      grid-column: $span / span $span;
    }
  }
}

section .container , .main-nav .navbar-collapse, #Highlight{
  max-width: 1140px;
  margin: 0 auto;
  padding: 2rem 2rem;

  @include md {
    padding: 2.5rem 2rem;
  }

  @include lg {
    padding: 3.5rem 2rem;
  }
}

.main-heading {
  text-align: center;
}

header {
  .main-nav {
    margin: 0 auto;
    box-shadow: 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);
    background-color: #f6f6f8;

    .navbar-collapse {
      padding: 1rem;
      justify-content: normal;

      @include md {
        padding: 0;
        justify-content: flex-end;
      }
    }

    .main-nav__nav-items {
      display: flex;
      list-style: none;
    }

    a {
      text-decoration: none;
      padding: 1.25rem;
      border-radius: 5px;
      display: block;
      color: map_get($theme-colors, "primary");

      &.active {
        background-color: #232940;
        color: #FFFFFF;
      }

      @include lg {
        padding: 1.5rem;
      }
    }

    ul {
      margin: 0;
    }
  }
}

#Home .container {
  display: grid;
  grid-template: 'image' 'home-content' auto / 1fr;
  align-items: center;
  margin-top: 3rem;
  padding: 2rem;
  grid-gap: 1rem;

  @include md {
    padding: 7rem 2rem;
    grid-template: 'home-content image';
  }

  .home_content {
    grid-area: home-content;

    h1, h3 {
      margin: 0;
    }

    a {
      margin-top: 1rem;
      margin-right: 1rem;
      padding: 0.5rem;
    }

    .download-resume-button {
      background-color: map_get($theme-colors, "primary");
      color: map_get($theme-colors, "text-light-color");

      &:hover {
        color: map_get($theme-colors, "primary");
        background-color: map_get($theme-colors, "text-light-color");
        border: 1px solid map_get($theme-colors, "primary");
      }
    }

    .contact-me-button {
      &:hover {
        color: #FFFFFF;
      }
    }
  }

  .image {
    grid-area: image;
    width: 55vw;

    @include md {
      width: 20vw;
    }
  }


}

#Highlight .container {
  padding: 0 1rem;
  display: grid;
  align-items: center;
  justify-items: center;
  border-radius: 80px;
  background-color: #FFFFFF;
  box-shadow: 0 0.5rem 1.1rem 0 rgba(0, 0, 0, 0.16);
  grid-template: 'job-experience' 'and' 'intern-experience' 'at' 'company-name' auto/1fr;

  .separator {
    display: none;
  }

  @include sm {
    grid-template: 'job-experience seperator    intern-experience'
                   'at             at           at'
                   'company-name   company-name company-name' auto/ 1fr 1fr 1fr;

    .separator {
      display: block;
    }

    .and {
      display: none;
    }
  }

  @include md {
    grid-template: 'job-experience seperator intern-experience at company-name' auto/ 4fr 1fr 4fr 1fr 4fr;
  }

  h1 {
    margin: 0;
  }

  .job-experience, .intern-experience {
    display: flex;

    .content {
      margin-left: 1rem;
    }
  }

  .job-experience img {
    width: 10vh;
  }

  .intern-experience img {
    width: 13vh;
  }
}

#Achievements {
  position: relative;

  &::after {
    content: "";
    background-image: url("src/assets/images/backgrounds/background-3.jpg");
    background-size: 100% 100%;
    opacity: 0.1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }

  .container {

    h1 {
      text-align: center;
    }

    .achievement-cards {
      flex-wrap: wrap;
      justify-items: center;
      grid-gap: 1rem;
      @include grid-center-last(1);

      @include only-sm {
        grid-gap: 2rem;
        @include grid-center-last(2);
      }

      @include md {
        grid-gap: 3rem;
        @include grid-center-last(3);
      }

      .achievement-card {
        width: 100%;
        margin: 1rem;
        padding: 2rem;
        border-radius: 0 50px 50px 50px;
        box-shadow: 0 0.5rem 1.1rem 0 rgba(0, 0, 0, 0.16);
        background-color: #ffffff;
      }
    }
  }
}

#TechnicalSkills .container {
  h1 {
    text-align: center;
  }

  .skills {
    display: grid;
    grid-template: 'languages' 'professional-skills';

    .languages {
      grid-area: languages;
    }

    .professional-skills {
      grid-area: professional-skills;
    }
    .skill {
      display: grid;
      padding: 1rem;
      grid-template: 'skill-name percentage'
                      'progress progress';

      p {
        margin-bottom: 5px;
      }

      .skill-name {
        grid-area: skill-name;
      }

      .percentage {
        grid-area: percentage;
        justify-self: end;
      }

      .progress {
        grid-area: progress;
      }
    }

    @include md {
      grid-template: 'languages professional-skills';
      grid-template-columns: 1fr 1fr;
    }
  }
}

#ProjectsWorkedOn {
  background-color: rgba(54, 180, 194, 0.08);

  .container {
    h1 {
      text-align: center;
    }

    .projects-worked-on-grid {
      display: grid;
      grid-template: 'project-content';

      @include md {
        grid-template: 'image project-content' auto/1fr 1fr;
        grid-gap: 2rem;
      }

      @include lg {
        grid-template: 'image project-content project-content' auto / 1fr 1fr 1fr;
        grid-gap: 3rem;
      }

      .project-image {
        display: none;
        grid-area: image;
        width: 100%;

        @include md {
            display: block;
        }
      }

      .project-content {
        grid-area: project-content;
        display: grid;
        grid-template: '. .';
        grid-gap: 0 3rem;

        ol {
          padding: 0 1rem;
        }
      }
    }
  }
}

/*
#PerformanceFeedback {
  position: relative;
}

#PerformanceFeedback::after {
  content: "";
  background-image: url("src/assets/images/backgrounds/background-3.jpg");
  background-size: 100% 100%;
  opacity: 0.1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

#PerformanceFeedback .container {
  //margin-top: 7rem;

  h1 {
    text-align: center;
  }

  .feedback-cards{
    display: grid;
    grid-template: '. .';
    grid-template-columns: 1fr 1fr;
    grid-gap: 5rem;

    .feedback-card {
      padding: 2rem;
      border-radius: 0 50px 50px 50px;
      //box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.16);
      background-color: #ffffff;
      box-shadow: 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);
    }
  }
}
*/

#Qualification .container {
  h1 {
    text-align: center;
  }

  .qualification-grid {
    display: grid;
    grid-template: 'experience-grid' 'education-grid' ;

    @include md {
      grid-template: 'education-grid experience-grid' auto / 1fr 1fr;
    }

    .education-grid {
      grid-area: education-grid;
    }

    .experience-grid {
      grid-area: experience-grid;

      @include md {
        justify-self: end;
      }
    }
  }
}

#ContactInfo .container {
  padding-bottom: 35vh;

  h1 {
    text-align: center;
  }

  .contact-info-grid {
    display: grid;
    grid-gap: 2rem;
    align-items: center;

    @include md {
      grid-template: '. . .';
    }

    .image {
      display: none;

      @include md {
        display: block;
      }
    }

    p, a {
      display: grid;
      grid-template: '. .' auto/1fr 8fr;
      align-items: center;
      grid-gap: 1rem;

      i {
        padding: 1.5rem;
        font-size: 1.5rem;
        border: 1px solid;
        border-radius: 50%;
      }
    }

    a {
      margin-bottom: 1.333333rem;
      color: #232940;

      &:hover {
        text-decoration: none;
        color: #566191;
      }
    }
  }
}

#Footer .container {
  padding: 1rem 0;
}

#ContactInfo, #Footer {
  background-color: #e7f1f4;
}
