$theme-colors: ("primary": #232940, "secondary": #7eb5dd, "highlight": #E63946, "text-light-color": #F8F7F9, "text-dark-color": #232940);

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

@mixin sm {
  @media screen and (min-width: #{$screen-sm-min}) {
    @content;
  }
}

// Medium devices
@mixin md {
  @media screen and (min-width: #{$screen-md-min}){
    @content;
  }
}

// Large devices
@mixin lg {
  @media screen and (min-width: #{$screen-lg-min}) {
    @content;
  }
}

// Extra large devices
@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}

@mixin only-sm {
  @media screen and (min-width: #{$screen-sm-min}) and (max-width: #{$screen-md-min}) {
    @content;
  }
}

@mixin only-md {
  @media screen and (min-width: #{$screen-md-min}) and (max-width: #{$screen-lg-min}) {
    @content;
  }
}

@mixin only-lg {
  @media screen and (min-width: #{$screen-lg-min}) and (max-width: #{$screen-xl-min}) {
    @content;
  }
}

